<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Base Game" value="baseq2" />
    <add key="Pak Name" value="pak0.pak" />
    <add key="Map Name" value="base1" />
    <add key="Fullscreen" value="false" />
    <add key="Width" value="1024" />
    <add key="Height" value="768" />
    <add key="Vertical Sync" value="true" />
    <add key="Load From Pak" value="true" />
    <add key="No Vis" value="false" />
    <add key="Heretic2" value="false" />
  </appSettings>
</configuration>


<!--

Quake2 (commercial) mapnames, basegame: baseq2
===============================================
base1
base2
base3
biggun
boss1
boss2
bunk1
city1
city2
city3
command
cool1
fact1
fact2
fact3
hangar1
hangar2
jail1
jail2
jail3
jail4
jail5
lab
mine1
mine2
mine3
mine4
mintro
power1
power2
security
space
strike
train
ware1
ware2
waste1
waste2
waste3


Heretic2 (demo) mapnames, basegame: base
=========================================
democanyon
demodmandoria
demodmcloud
demodocks
tutorial


Heretic2 (commercial) mapnames, basegame: base
===============================================
andacademic
andhealer
andplaza
andslums
canyon
cloudhub
cloudlabs
cloudquarters
cloudsanctum
dmandoria
dmcanyon
dmcloud
dmhive
dmireswamp
dungeon
gauntlet
hive1
hive2
hivepriestess
hivetrialpit
kellcaves
oglemine1
oglemine2
ssdocks
sspalace
sstown
sswarehouse
tutorial2
tutorial

-->
